html,
body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  color: #f8edeb;
}
h1 {
  color: #f8edeb;
  animation: yourAnimation 5s infinite 1s ease-in-out;
  opacity: 0;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(239, 239, 243),
    0 0 5px rgb(199, 199, 224);
}
@keyframes yourAnimation {
  0% {
    transform: rotate(0) translateY(7px) translateX(-50px);
    opacity: 1;
    color: #f94144;
  }
}
input {
  width: 150px;
  height: 30px;
  font-size: 20px;
  margin: 5px auto;
}

button {
  width: 300px;
  height: 40px;
  font-size: 20px;
}
.converter {
  background: #023047;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: rgba(17, 12, 46, 0.1) 0px 48px 100px 0px;
}
.select-option {
  width: 150px;
  height: 34px;
  font-size: 16px;
}
.btn {
  background-color: #f94144;
  border: none;
  color: #f8edeb;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  cursor: pointer;
  transition: all 1s;
  border-radius: 50px;
}
.btn:hover {
  background-color: #c3c2c2;
  color: #023047;
}
